{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="about">
      <div class="about__container container">
              <ul class="about__sidebar">
      {% for about_company_item in about_company %}
          <li>
          {% url 'app:about' slug=about_company_item.slug as about_company_url %}
            <a href="{{ about_company_url }}" {% if about_company_url == request.path %}class="active"{% endif %} >
                {{ about_company_item.title }}</a>
          </li>
      {% endfor %}
        </ul>

          {% block aboutcontent %}
          {% endblock aboutcontent %}


      </div>
    </div>
{% endblock content %}

