{% extends 'about_main.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Главная' %}{% endblock title %}

{% block aboutcontent %}
<div class="about__content">
          <div class="about__title">
            <h2>{{ about_data.title }}</h2>
          </div>
              {{ about_data.description|safe }}
              {% if about_data.image %}
                  <div class="about__content-img">
                                    <img src="{{ about_data.image.url }}" alt="">

                  </div>
              {% endif %}
        </div>

{% endblock aboutcontent%}