{% load i18n %}
{% load static  %}
{% load app_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">

    <title>{% block title %} home {% endblock title %}</title>
  </head>
  <body>
  <div class="success">
  <div class="success__icon">
    <img src="{% static 'img/icon_tich.png' %}" alt="" />
  </div>
</div>
    <header class="header">
  <div class="header__container">
    <div class="header__top container">
      <div class="header__col logo-col">
            <a href="{% url 'app:home' %}" class="header__logo">
                <img src="{% static '/img/mainLogo.png' %}" alt="mainLogo" />
            </a>
        <div class="header__logo-content">
          <h2>Powerlin</h2>
          <p>{% trans 'Строим будущее вместе' %}</p>
        </div>
      </div>
      <div class="header__col">
        <ul class="header__contact-ul header__contact-ul_tel">
          <li>
            <a href="tel:+99898-362-80-04">+99898-362-80-04</a>
          </li>

            <li>
            <a href="tel:+99871-234-06-73">+99871-234-06-73</a>
          </li>
        </ul>
      </div>
      <div class="header__col">
        <ul class="header__contact-ul header__contact-ul_mail">
          <li>
            <a href="mail:info@powerlin-group.uz">info@powerlin-group.uz</a>
          </li>
        </ul>
      </div>
      <div class="header__col">
        <div class="header__btn">
          <a href="#">{% trans 'Заказать звонок' %}</a>
        </div>
      </div>
      <div class="header__col">
        <div class="hamburger">
          <div class="lines-wrapper">
            <div class="lines line-top"></div>
            <div class="lines line-mid"></div>
            <div class="lines line-bottom"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="header__bottom-wrapper container">
        <nav class="header__menu">
          <ul>
            <li>
              <a href="{% url 'app:home' %}">{% trans 'Главная' %}</a>
            </li>
            <li>
              <a href="{% url 'app:about' slug='o-kompanii' %}">{% trans 'О компании' %}</a>
                <ul class="header__dropdown-ul">
                  {% for about_company_item in about_company %}
                      <li>
                        <a href="{% url 'app:about' slug=about_company_item.slug %}">{{ about_company_item.title }}</a>
                    </li>
                  {% endfor %}
              </ul>
            </li>
            <li>
              <a href="{% url 'app:service' %}">{% trans 'Услуги' %}</a>
              <ul class="header__dropdown-ul">
                  {% for servise in services %}
                    <li>
                      <a href="{% url 'app:service' %}">{{ servise.title }}</a>
                    </li>
                  {% endfor %}
              </ul>
            </li>
            <li>
              <a href="{% url 'app:our_works' %}">{% trans 'Наши Работы' %}</a>
            </li>
            <li>
              <a href="{% url 'app:contact' %}">{% trans 'Контакты' %}</a>
            </li>
          </ul>

        <div class="lang">
                <span class="cur-lang">
                    {{ LANGUAGE_CODE }}
                </span>
                <ul>
                    {% for lang_code, lang_name in LANGUAGES %}
                        <li>
                            {% get_url_tag request=request lang=lang_code as url %}
                            <a href="{{ url }}" >{{ lang_code }}</a>
                        </li>
                    {% endfor %}
                </ul>
        </div>
        </nav>

      </div>
    </div>
  </div>
</header>


{% block content %}
{% endblock content %}
    <!-- footer start -->

    <footer class="footer">
  <div class="footer__container container">
    <div class="footer__col-logo">
          <a href="{% url 'app:home' %}" class="footer__logo">
              <img src="{% static 'img/fooLogo.png' %}" alt="footer logo" />
          </a>
      <div class="footer__col-content">
        <p>{% trans "Строим будущее вместе" %}
        </p>
      </div>
    </div>

    <div class="footer__col">
      <div class="footer__foo-header">
        <h2>{% trans 'Меню' %}</h2>
      </div>
      <ul>
        <li>
            <a href="{% url 'app:home' %}" class="href">{% trans 'главная' %}</a>
        </li>
        <li>
            <a href="{% url 'app:our_works' %}" class="href">{% trans 'Наши работы' %}</a>
        </li>
        <li>
          <a>{% trans 'Отзыв' %}</a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <div class="footer__foo-header">
        <h2>{% trans 'Услуги' %}</h2>
      </div>
        {% for service in services %}
            <ul>
                <li>
                    <a href="{% url 'app:service' %}" class="href">{{ service.title }}</a>
                </li>
            </ul>
        {% endfor %}

    </div>
    <div class="footer__col">
      <div class="footer__foo-header">
        <h2>{% trans 'Контакты' %}</h2>
      </div>
      <ul>
        <li>
          <a href="tel:+99898-362-80-04">+99898-362-80-04</a>
        </li>

        <li>
          <a href="mail:info@powerlin-group.uz">info@powerlin-group.uz</a>
        </li>
        <li>
          <a href="tel:Telegram">Telegram</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
    <div class="copyright">
        <div class="container">
            <p>Copyright © 2020 powerlin-group.uz Все права защищены.</p>
            <p>Powered by <a href="http://pixyz.uz">PixYz</a></p>
        </div>
    </div>

  <div class="form-popup">
  <div class="form-block">
    <div class="form-block__content">
      <div class="form-block__title">
        <h2>Powerlin</h2>
      </div>
        <p class="infoo">HHHHHHHsgdfgsdfgsdfgv</p>
      <p class="form-success-content active">
{#        {% trans 'Спасибо, что связались с нами. Один из наших коллег скоро свяжется с вами!' %}#}
      </p>
    </div>
    <form  class="form-block__form" id="common_form">
      <div class="form-block__input">
          <input type="text" placeholder="{% trans 'Ваше имя' %}" id="name">
      </div>
      <div class="form-block__input">
           <input type="text" placeholder="{% trans 'Ваш номер телефона' %}" id="phone">
      </div>
      <div class="form-block__btn">
        <button id="common_form_submit">{% trans 'Заказать звонок' %}</button>
      </div>
    </form>
    <a href="#" class="form-block__close">
      <img src="{% static '/img/formClose.png' %}" alt="" />
    </a>
  </div>
</div>

    <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static '/js/slick.min.js' %}"></script>
    <script src="{% static '/js/anime.js' %}"></script>
    <script src="{% static '/js/dynamic.js' %}"></script>
     <script>
      AOS.init({
        duration: 1000,
      });
    </script>
    <script src="{% static '/js/index.js' %}"></script>
    <!-- Chatra {literal} -->
<script>
        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    window.getCookie = getCookie;
    let csrfToken = window.getCookie('csrftoken');

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
                console.log(csrfToken)
            }
        },
        headers: {
            'Accept-Language': '{{ LANGUAGE_CODE }}',
        }
    });

    $('.form-block__btn').on('click',(e)=>{
        e.preventDefault();
        let name = $('#name').val();
        let phone = $('#phone').val();
        if (name !=='' && phone !==''){
            $.post('{% url 'rest:send_message' %}',{'name':name, 'phone':phone}).done((e)=>{
                console.log(e.success)
                $(".infoo").css("display","none")
                $(".form-success-content").html(e.success)


            setTimeout(function (){
             $(".infoo").css("display","block")
             $(".form-success-content").addClass("active")
            },2500)

            $('#name').val('')
            $('#phone').val('')
            })

        }
        else{
            alert("Formani To'ldiring")
        }

    })



</script>
  <!-- Chatra {literal} -->
<script>
    (function(d, w, c) {
        w.ChatraID = 'aXEPbEp5CTNGNbpGf';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = 'https://call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>
<!-- /Chatra {/literal} -->
<!-- /Chatra {/literal} -->
  </body>
</html>
