{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Contact {% endblock title %}

{% block content %}
    <div class="main-contacts">
      <div class="main-contacts__container container">
        <div class="main-contacts__title">
          <h2>контакты</h2>
        </div>

        <div class="main-contacts__items">
          <div class="main-contacts__item">
            <div class="main-contacts__item-title">
              <h2>{% trans 'Адрес' %}</h2>
            </div>
            <div class="main-contacts__item-content">
              <p>{% trans 'г. Ташкент, Юнусабадский район, ул. Чингиза Айтматова 54' %}</p>
            </div>
            <div class="main-contacts__item-icon">
              <img src="{% static '/img/contact1.png' %}" alt="" />
            </div>
          </div>
          <div class="main-contacts__item">
            <div class="main-contacts__item-title">
              <h2>{% trans 'Телефон и Эл. почта:' %}</h2>
            </div>
            <div class="main-contacts__item-content">
              <ul>

                <li class="mai-contacts__mail-li">
                  <a href="tel:+99898-362-80-04"> +99898-362-80-04</a>
                    <br>
                  <a href="tel:+99893-183-80-89"> +99893-183-80-89</a>
                    <br>
                  <a href="tel:+99871-234-06-73"> +99871-234-06-73</a>
                  <li class="mai-contacts__mail-li">
                    <a href="info@powerlin-group.uz">info@powerlin-group.uz</a>
                </li>
                </li>
              </ul>
            </div>
            <div class="main-contacts__item-icon">
              <img src="{% static '/img/contacts2.png' %}" alt="" />
            </div>
          </div>
          <div class="main-contacts__item">
            <div class="main-contacts__item-title">
              <h2>{% trans 'Время работы' %}</h2>
            </div>
            <div class="main-contacts__item-content">
              <ul>
                <li><span>{% trans 'Понедельник - Суббота: ' %}</span>{% trans 'с 9.00 до 17.00' %}</li>
                <li><span>{% trans 'График работы' %}</span> с 9.00 до 17.00</li>
              </ul>
            </div>
            <div class="main-contacts__item-icon">
              <img src="{% static '/img/contacts3.png' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="map">
      <div class="map__container container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11983.085919174591!2d69.2928697!3d41.3355823!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6677d6a7387d903!2z0LTQstC10YDQuCBlbHBvcnRhINGC0LDRiNC60LXQvdGC!5e0!3m2!1sru!2s!4v1599632050957!5m2!1sru!2s"
          width="600"
          height="450"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>
    </div>
{% endblock content %}
