{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


    <div class="wrapper">
<div class="main-slider">
          {% for main_item in main_slider %}
              <div class="main-slider__item">
                  {% if main_item.image %}
                      <img src="{{ main_item.image.url }}" alt="main slider" />
                  {% endif %}
                  <div class="main-slider__content">
                    <h1>{{ main_item.title }}</h1>
                    {{ main_item.description|safe }}
                  </div>
            </div>
          {% endfor %}


      </div>

      <div class="services">
        <div class="services__container container">
          <div class="services__title title">
            <span class="title__label">{% trans 'Услуги' %}</span>
            <h2>{% trans 'Услуги' %}</h2>
          </div>
          <div class="services__items">
              {% for service in services %}
                  <div class="services__item">
              <div class="services__item-icon">
                  {% if service.image %}
                      <img src="{{ service.image.url }}" alt="service icon" />
                  {% endif %}
              </div>

              <span class="services__item-label"> {{ service.title }} </span>
              <p>{{ service.description|safe }}</p>

              <ul class="services__item-ul">
                  {% for specification in service.specification.all %}
                      <li>
                        <span>{{ specification|safe }}</span>
                    </li>
                  {% endfor %}
              </ul>
            </div>
              {% endfor %}
          </div>
          <div class="services__button">
              <a href="{% url 'app:service' %}" class="services__btn">{% trans 'Узнать больше' %}</a>
          </div>
        </div>
      </div>
      <div class="testimonials">
        <div class="testimonials__container container">
          <div class="testimonials__content">
            <div class="testimonials__title">
              <h2>{% trans 'Мы рады слышать удовлетворение наших клиентов' %}</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero os et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam
              voluptua. At vero eos et accusam et justo duo
            </p>
              <a href="{% url 'app:testimonial' %}" class="testimonials__btn">{% trans 'Посмотреть больше отзывов' %}</a>
          </div>

          <div class="testimonials__slider">
              {% for testimonial in testimonials %}
                <div class="testimonials__slider-item-wrapper">
                    <div class="testimonials__slider-item">
                    <div class="testimonials__item-header">
                  <div class="testimonials__item-icon">
                      {% if testimonial.image %}
                          <img src="{{ testimonial.image.url }}" alt="testimonials" />
                      {% endif %}
                        </div>
                            <div class="testimonials__item-header-content">
                            <span>{{ testimonial.name }}</span>
                                <p>{{ testimonial.title }}</p>
                            </div>
                        </div>
                        <div class="testimonials__item-body">
                          {{ testimonial.description|safe }}
                        </div>
                    </div>
                </div>
              {% endfor %}
          </div>
        </div>
      </div>

      <div class="process">
        <div class="process__title title container">
          <span class="title__label">{% trans 'Как мы работаем' %}</span>
          <h2>{% trans 'Как мы работаем' %}</h2>
        </div>

        <div class="process__container container">
          <div class="process__left">
            <div
              class="process__icon"
              data-aos="fade-right"
              data-aos-anchor-placement="top-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="142"
                height="142"
                viewBox="0 0 142 142"
              >
                <g>
                  <g>
                    <g>
                      <path
                        fill="none"
                        stroke="#606060"
                        stroke-linecap="round"
                        stroke-miterlimit="20"
                        d="M71.418 140.76c-38.66 0-70-31.34-70-70s31.34-70 70-70 70 31.34 70 70-31.34 70-70 70z"
                      />
                    </g>
                    <g>
                      <path
                        fill="none"
                        stroke="#606060"
                        stroke-linecap="round"
                        stroke-miterlimit="20"
                        d="M33.266 69.908c0-11.882 16.945-21.514 37.848-21.514s37.848 9.632 37.848 21.514c0 11.883-16.945 21.515-37.848 21.515s-37.848-9.632-37.848-21.515z"
                      />
                    </g>
                    <g>
                      <g>
                        <path
                          fill="none"
                          stroke="#606060"
                          stroke-linecap="round"
                          stroke-miterlimit="20"
                          d="M82.315 67.498c1.384 6.196-2.514 12.34-8.71 13.724-6.196 1.386-12.34-2.515-13.724-8.708-1.383-6.196 2.515-12.34 8.71-13.724 6.194-1.386 12.338 2.515 13.724 8.708z"
                        />
                      </g>
                      <g>
                        <path
                          fill="none"
                          stroke="#606060"
                          stroke-linecap="round"
                          stroke-miterlimit="20"
                          d="M37.936 69.904c0-11.883 14.834-21.515 33.134-21.515 18.299 0 33.133 9.632 33.133 21.515 0 11.882-14.834 21.514-33.133 21.514-18.3 0-33.134-9.632-33.134-21.514z"
                        />
                      </g>
                      <g>
                        <path
                          fill="none"
                          stroke="#606060"
                          stroke-linecap="round"
                          stroke-miterlimit="20"
                          d="M71.183 41.045v-8.194"
                        />
                      </g>
                      <g>
                        <path
                          fill="none"
                          stroke="#606060"
                          stroke-linecap="round"
                          stroke-miterlimit="20"
                          d="M43.876 50.292l-5.794-5.794"
                        />
                      </g>
                      <g>
                        <path
                          fill="none"
                          stroke="#606060"
                          stroke-linecap="round"
                          stroke-miterlimit="20"
                          d="M97.328 48.373l5.794-5.794"
                        />
                      </g>
                      <g>
                        <path
                          fill="none"
                          stroke="#606060"
                          stroke-linecap="round"
                          stroke-miterlimit="20"
                          d="M71.183 99.27v8.194"
                        />
                      </g>
                      <g>
                        <path
                          fill="none"
                          stroke="#606060"
                          stroke-linecap="round"
                          stroke-miterlimit="20"
                          d="M43.876 90.023l-5.794 5.794"
                        />
                      </g>
                      <g>
                        <path
                          fill="none"
                          stroke="#606060"
                          stroke-linecap="round"
                          stroke-miterlimit="20"
                          d="M97.328 91.942l5.794 5.794"
                        />
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div
              data-da="process__container,1,575"
              class="process__left-content"
            >
              <div class="process__left-content_label"><span>2</span></div>

              <div class="process__content-title">
                <h2>{% trans 'Подать заявку на нашу услугу' %}</h2>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus
              </p>
            </div>
            <div
              class="process__icon"
              data-aos="fade-right"
              data-aos-anchor-placement="top-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="142"
                height="142"
                viewBox="0 0 142 142"
              >
                <g>
                  <g>
                    <g>
                      <path
                        fill="none"
                        stroke="#606060"
                        stroke-linecap="round"
                        stroke-miterlimit="20"
                        d="M1.418 71.093c0-38.66 31.34-70 70-70s70 31.34 70 70-31.34 70-70 70-70-31.34-70-70z"
                      />
                    </g>
                    <g>
                      <path
                        fill="none"
                        stroke="#606060"
                        stroke-linecap="round"
                        stroke-miterlimit="20"
                        d="M92.99 36.82c0 5.71-4.628 10.342-10.339 10.342-5.71 0-10.341-4.631-10.341-10.342 0-5.71 4.631-10.341 10.341-10.341 5.711 0 10.34 4.63 10.34 10.341z"
                      />
                    </g>
                    <g>
                      <path
                        fill="none"
                        stroke="#606060"
                        stroke-linecap="round"
                        stroke-miterlimit="20"
                        d="M48.184 84.042c0 5.711-4.63 10.34-10.341 10.34-5.71 0-10.342-4.629-10.342-10.34 0-5.713 4.631-10.341 10.342-10.341 5.71 0 10.341 4.628 10.341 10.341z"
                      />
                    </g>
                    <g>
                      <path
                        fill="none"
                        stroke="#606060"
                        stroke-linecap="round"
                        stroke-miterlimit="20"
                        d="M109.221 95.27c0 5.714-4.63 10.342-10.341 10.342-5.71 0-10.342-4.628-10.342-10.341 0-5.711 4.631-10.34 10.342-10.34 5.71 0 10.341 4.629 10.341 10.34z"
                      />
                    </g>
                    <g />
                    <g>
                      <path
                        fill="none"
                        stroke="#606060"
                        stroke-linecap="round"
                        stroke-miterlimit="20"
                        d="M44.679 75.654l30.64-30.64"
                      />
                    </g>
                    <g>
                      <path
                        fill="none"
                        stroke="#606060"
                        stroke-linecap="round"
                        stroke-miterlimit="20"
                        d="M48.097 88.105L88.54 95.27"
                      />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div
              data-da="process__container,3,575"
              class="process__left-content"
            >
              <div class="process__left-content_label"><span>4</span></div>
              <div class="process__content-title">
                <h2>{% trans 'Построй свой дом' %}</h2>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus
              </p>
            </div>
          </div>
          <div class="process__center">
            <div
              class="process__center-circle"
              data-aos-anchor-placement="center-center"
              data-aos="circle"
            ></div>
          </div>
          <div class="process__right">
            <div
              data-da="process__container,0,575"
              class="process__right-content"
            >
              <div class="process__right-content_label"><span>1</span></div>
              <div class="process__content-title">
                <h2>{% trans 'Оцените свою площадь' %}</h2>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus
              </p>
            </div>
            <div
              class="process__icon"
              data-aos="fade-left"
              data-aos-anchor-placement="top-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="140"
                height="141"
                viewBox="0 0 140 141"
              >
                <g>
                  <g>
                    <g>
                      <g>
                        <path
                          fill="none"
                          stroke="#606060"
                          stroke-linecap="round"
                          stroke-miterlimit="20"
                          d="M79.697 96.532v0l41.19 41.19a9.487 9.487 0 0 0 13.416 0l2.073-2.074a9.487 9.487 0 0 0 0-13.416L96.412 82.265v0S79.697 98.163 79.697 96.532z"
                        />
                      </g>
                      <g>
                        <g>
                          <g>
                            <path
                              fill="#fff"
                              d="M1.07 66.198C1.07 29.914 30.484.5 66.768.5c36.284 0 65.697 29.414 65.697 65.698 0 36.284-29.413 65.697-65.697 65.697-36.284 0-65.698-29.413-65.698-65.697z"
                            />
                            <path
                              fill="none"
                              stroke="#606060"
                              stroke-linecap="round"
                              stroke-miterlimit="20"
                              d="M1.07 66.198C1.07 29.914 30.484.5 66.768.5c36.284 0 65.697 29.414 65.697 65.698 0 36.284-29.413 65.697-65.697 65.697-36.284 0-65.698-29.413-65.698-65.697z"
                            />
                          </g>
                          <g>
                            <path
                              fill="#fff"
                              d="M20.463 66.198c0-25.574 20.731-46.305 46.305-46.305 25.573 0 46.304 20.731 46.304 46.305 0 25.573-20.731 46.304-46.304 46.304-25.574 0-46.305-20.731-46.305-46.304z"
                            />
                            <path
                              fill="none"
                              stroke="#606060"
                              stroke-linecap="round"
                              stroke-miterlimit="20"
                              d="M20.463 66.198c0-25.574 20.731-46.305 46.305-46.305 25.573 0 46.304 20.731 46.304 46.305 0 25.573-20.731 46.304-46.304 46.304-25.574 0-46.305-20.731-46.305-46.304z"
                            />
                          </g>
                        </g>
                        <g>
                          <path
                            fill="#fff"
                            d="M82.254 53.731s1.58-13.894-13.894-13.894c-15.475 0-17.362 17.65-10.604 23.519 9.36 8.128 24.723 1.24 24.723 17.256 0 13.693-20.676 16.25-27.956 6.022"
                          />
                          <path
                            fill="none"
                            stroke="#606060"
                            stroke-linecap="round"
                            stroke-miterlimit="20"
                            d="M82.254 53.731v0s1.58-13.894-13.894-13.894c-15.475 0-17.362 17.65-10.604 23.519 9.36 8.128 24.723 1.24 24.723 17.256 0 13.693-20.676 16.25-27.956 6.022"
                          />
                        </g>
                        <g>
                          <path fill="#fff" d="M68.274 33.998v64.68" />
                          <path
                            fill="none"
                            stroke="#606060"
                            stroke-linecap="round"
                            stroke-miterlimit="20"
                            d="M68.274 33.998v64.68"
                          />
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div
              data-da="process__container,2,575"
              class="process__right-content"
            >
              <div class="process__right-content_label"><span>3</span></div>
              <div class="process__content-title">
                <h2>{% trans 'Получите свое право' %}</h2>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                takimata sanctus
              </p>
            </div>
            <div
              class="process__icon"
              data-aos="fade-left"
              data-aos-anchor-placement="top-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="142"
                height="142"
                viewBox="0 0 142 142"
              >
                <g>
                  <g>
                    <g>
                      <path
                        fill="none"
                        stroke="#606060"
                        stroke-linecap="round"
                        stroke-miterlimit="20"
                        d="M129.348 109.63c8.523-12.897 12.928-28.756 11.228-45.724-3.29-32.793-29.838-59.29-62.638-62.472C33.735-2.858-3.079 34 1.29 78.214c3.253 32.939 30.004 59.503 62.957 62.568 17.144 1.593 33.15-3.016 46.066-11.825l24.105 4.76c2.626.516 4.747-2.143 3.653-4.587z"
                      />
                    </g>
                    <g>
                      <g>
                        <path
                          fill="none"
                          stroke="#606060"
                          stroke-linecap="round"
                          stroke-miterlimit="20"
                          d="M48.035 108.741V55.9"
                        />
                      </g>
                      <g>
                        <path
                          fill="none"
                          stroke="#606060"
                          stroke-linecap="round"
                          stroke-miterlimit="20"
                          d="M19.408 108.741V55.9"
                        />
                      </g>
                    </g>
                    <g>
                      <path
                        fill="none"
                        stroke="#606060"
                        stroke-linecap="round"
                        stroke-miterlimit="20"
                        d="M12.656 109.277v0h41.135v0l42.88-.452a11.361 11.361 0 0 0 10.958-8.84l7.976-35.08c1.934-8.498-3.822-16.833-12.458-18.038l-22.488-3.133v0l-1.027-.142v0-17.73c0-3.782-2.478-7.294-6.167-8.13a8.063 8.063 0 0 0-9.931 7.514c-.329 8.385-2.905 16.517-8.836 22.45l-6.528 6.525v0H3.476v0"
                      />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="our-works">
        <div class="our-works__header container">
          <div class="our-works__header-title">
            <h2>{% trans 'ВАША МЕЧТА ЗДЕСЬ' %}</h2>
          </div>
          <div class="our-works__header-content">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam
              voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
              dolor sit amet.
            </p>
          </div>
        </div>
        <div class="our-works__body">
          <div class="our-works__centered container">
            <div class="title our-works__centered-title">
              <span class="title__label">{% trans 'Наши Работы' %}</span>
              <h2>{% trans 'Наши Работы' %}</h2>
            </div>
            <p>{% trans 'мы всегда заботимся о наших клиентах' %}</p>
          </div>
          <div class="our-works__slider">
              {% for our_work in our_works %}
                  <div class="our-works__item-wrapper">
                      <div class="our-works__item">
                        <div class="our-works__item-icon">
                            <a href="{% url 'app:our_works' %}" class="href">
                                <img src="{{ our_work.main_image.url }}" alt="our work" />
                            </a>
                        </div>
                        <div class="our-works__item-title">
                            <a href="{% url 'app:our_works' %}" class="href">
                                <h2>{{ our_work.title }}</h2>
                            </a>
                        </div>
                        <div class="our-works__item-content">
                          <ul>
                            <li>{{ our_work.description }}</li>
                          </ul>
                        </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
        </div>
        <div class="our-works__footer container">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
            accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>

      <div class="benefit">
        <div class="container">
          <div class="benefit__title title">
            <span class="title__label">{% trans 'Преимущества' %}</span>
            <h2>{% trans 'Преимущества' %}</h2>
          </div>
          <div class="benefit__items">
            <div class="benefit__item-wrapper">
              <div class="benefit__item">
                <div class="benefit__icon">
                  <img src="{% static '/img/benefitIconTarget.png' %}" alt="" />
                </div>
                <p class="benefit__item-label">{% trans 'Качество' %}</p>
                <p class="benefit__item-content">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et
                  justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                  sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                  ipsum dolor sit amet,
                </p>
              </div>
            </div>
            <div class="benefit__item-wrapper">
              <div class="benefit__item">
                <div class="benefit__icon">
                  <img src="{% static 'img/benefit2.png' %}" alt="" />
                </div>
                <p class="benefit__item-label">{% trans 'Оперативность' %}</p>
                <p class="benefit__item-content">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et
                  justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                  sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                  ipsum dolor sit amet,
                </p>
              </div>
            </div>
            <div class="benefit__item-wrapper">
              <div class="benefit__item">
                <div class="benefit__icon">
                  <img src="{% static '/img/benefit3.png' %}" alt="" />
                </div>
                <p class="benefit__item-label">{% trans 'Приемлемые цены' %}</p>
                <p class="benefit__item-content">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et
                  justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                  sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                  ipsum dolor sit amet,
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="partners">
        <div class="partners__title title">
          <span class="title__label">{% trans 'Партнеры' %}</span>
          <h2>{% trans 'Партнеры' %}</h2>
        </div>

        <div class="partners__container container">
          <div class="partners__slider">
            <div class="partners__item-wrapper">
              <div class="partners__item">
                <div class="partners__icon">
                  <img src="{% static '/img/logopart.png' %}" alt="" />
                </div>
              </div>
            </div>
            <div class="partners__item-wrapper">
              <div class="partners__item">
                <div class="partners__icon">
                  <img src="{% static '/img/logopowerpartr.png' %}" alt="" />
                </div>
              </div>
            </div>
            <div class="partners__item-wrapper">
              <div class="partners__item">
                <div class="partners__icon" >
                  <img src="{% static '/img/partner3.png' %}" alt="" />
                </div>
              </div>
            </div>
            <div class="partners__item-wrapper">
              <div class="partners__item">
                <div class="partners__icon">
                  <img src="{% static '/img/partner4.png' %}" alt="" />
                </div>
              </div>
            </div>
            <div class="partners__item-wrapper">
              <div class="partners__item">
                <div class="partners__icon">
                  <img src="{% static '/img/partner1.png' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="contacts">
        <div class="contacts__container container">
          <div class="contacts__content">
            <div class="contacts__content-title">
              <h2>{% trans 'Связаться' %}</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam
            </p>
            <ul class="contacts__ul">
              <li><a href="tel:+99898-362-80-04">+99898-362-80-04</a></li>
              <li><a href="mail:info@powerlin-group.uz">info@powerlin-group.uz</a></li>
            </ul>
          </div>
          <div class="contacts__form-block">
            <form method="post" class="contacts__form">
                {% csrf_token %}
              <div class="contacts__form-title">
                <h2>{% trans 'Связаться' %}</h2>
              </div>
              <div class="contacts__form-input">
                  {{ message_form.your_name }}
              </div>
              <div class="contacts__form-input">
                  {{ message_form.phone_number }}
              </div>
              <div class="contacts__form-input" >
                  {{ message_form.message }}
              </div>
              <div class="contacts__form-btn">
                <button type="send">{% trans 'Отправить' %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
    <script>
      AOS.init({
        duration: 1000,
      });
    </script>


