{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Our Work {% endblock title %}

{% block content %}


    <div class="ourWorks">
      <div class="ourWorks__container">
        <div class="our-works__header container">
          <div class="our-works__header-title">
            <h2>{% trans 'ВАША МЕЧТА ЗДЕСЬ' %}</h2>
          </div>
          <div class="our-works__header-content">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
              sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam
              voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
              dolor sit amet.
            </p>
          </div>

{#          <div class="ourWorks__items">#}
{#              {% for our_work in our_works%}#}
{#                  <div class="our-works__item-wrapper">#}
{#              <div class="our-works__item">#}
{#                <div class="our-works__item-icon">#}
{#                    {% if our_work.image %}#}
{#                        <img src="{{ our_work.image.url }}" alt="our work" />#}
{#                    {% endif %}#}
{#                </div>#}
{#                <div class="our-works__item-title">#}
{#                  <h2>{{ our_work.title }}</h2>#}
{#                </div>#}
{#                <div class="our-works__item-content">#}
{#                  <ul>#}
{#                    <li>{{ our_work.description }}</li>#}
{#                  </ul>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#              {% endfor %}#}

{#                {% for item in our_work.image_list.all %}#}
{#                    <img src="{{ item.image.url }}" alt="">#}
{#                {% endfor %}#}




<div class="ourWorks__items">
{% for our_work in our_works %}
    <div class="our-works__item-wrapper">
                        <div class="our-works__item gallery__item-main">
                    <div class="our-works__item-icon " data-fancybox="{{ our_work.title }}" data-src="{{ our_work.main_image.url     }}">
                            <img src="{{ our_work.main_image.url }}" alt="our work" />
                    </div>
                    <div class="our-works__item-title">
                      <h2>{{ our_work.title }}</h2>
                    </div>
                    <div class="our-works__item-content">
                      <ul>
                        <li>{{ our_work.description }}</li>
                      </ul>
                    </div>
                  </div>
                 <div class="gallery__item-drop drop-gallery">
                {% for item in our_work.image_list.all %}
                  <div class="drop-gallery__item" data-src="{{ item.image.url }}" data-fancybox="{{ our_work.title }}">
                    <img src="{{ item.image.url }}" alt="" />
                    <p>{{ our_work.title }}</p>
                  </div>
                {% endfor %}
                </div>

                </div>
{% endfor %}
</div>

        </div>
      </div>
    </div>

{% endblock content %}



</script>