{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Service {% endblock title %}

{% block content %}
    <div class="main-services">
      <div class="main-services__container container">
        <div class="main-services__title">
          <h2>{% trans 'Услуги' %}</h2>
        </div>
          {% for service_item in services %}

            <div class="main-services__items">
              <div class="main-services__item">
                <div class="main-services__item-icon">
                  <img src="{{ service_item.image.url }}"}>
                </div>
                <div class="main-services__content">
                  <div class="main-services__content-title">
                    <h2>{{ service_item.title }}</h2>
                  </div>
                  <p>{{ service_item.description|safe }}
                  </p>
                  <ul class="main-services__content-ul">
                    {% for specification in service_item.specification.all %}
                        <li>{{ specification|safe }}</li>
                    {% endfor %}
                  </ul>
                  <div class="main-services__content-btn">
                    <a>{% trans 'Заказать' %}</a>
                  </div>
                </div>
              </div>

          {% endfor %}

        </div>
      </div>
    </div>
{% endblock content %}

