{% extends 'base.html' %}
{% load  static  %}
{% load i18n %}
{% block title %}{% trans testmonials %}{% endblock title %}

{% block content %}
<div class="main-testimonials">
      <div class="main-testimonials__container container">


        <div class="main-testimonials__items">

            {% for testimonial in  testimonials%}

          <div class="testimonials__slider-item-wrapper">
            <div class="testimonials__slider-item">
              <div class="testimonials__item-header">
                <div class="testimonials__item-icon">
                  <img src="{{ testimonial.image.url }}" alt="testimonials" />
                </div>
                <div class="testimonials__item-header-content">
                  <span>{{ testimonial.name }}</span>
                  <p>{{ testimonial.title|safe }}</p>
                </div>
              </div>
              <div class="testimonials__item-body">
                {{ testimonial.description|safe }}
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>

{% endblock content %}